# Python
__pycache__/
*.pyc

# Data
data/*
!data/.gitkeep

# Local test scripts
tests/

# VSCode
.vscode/

# Outputs
outputs/*
!outputs/.gitkeep
!outputs/checkpoints/
!outputs/checkpoints/.gitkeep
!outputs/metrics/
!outputs/metrics/.gitkeep
!outputs/plots/
!outputs/plots/.gitkeep
!outputs/predictions/
!outputs/predictions/.gitkeep